reflex
PyMuPDF
python-multipart
fastapi
uvicorn
torch
transformers
joblib
pymupdf
opencv-python-headless
easyocr
numpy
ultralytics
scikit-learn
mysql-connector-python
pandas
PyPDF2
sqlmodel
python-dotenv
supabase
psycopg2-binary